@use './mixin';
@use './variables';

.linha {
    height: 1px;
    width: 86%;
    background: variables.$grayish-violet;

    @include mixin.desktop {
        display: none;
    }
}

.linha-blue {
    position: relative;
    z-index: 1;
    width: 275px;
    height: 10px;
    transform-origin: center;
    transform: rotate(90deg);
    background: variables.$cyan;

    @include mixin.desktop {
        display: inline;
        width: 30px;
        transform: rotate(0deg);
    }
}