@use './variables';
@use './buttons' as *;
@use './mixin';
@use './linha' as *;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}


header {
    @include mixin.center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0px 25px;
    margin-bottom: 10px;

    .logo {
        @include mixin.center-2;

        @include mixin.desktop  {
            justify-content: center;
            height: 80px;
            width: 150px;
        }
    }

    .manu-hamb {
        @include mixin.center-2;

        i {
            color: variables.$grayish-violet;
            font-size: 1.7rem;
            cursor: pointer;
        }

        @include mixin.desktop {
            display: none;
        }
    }

    .navbar {
        display: none;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 60px;
        width: 89%;
        height: 380px;
        padding: 0px 0px 20px 0px;
        background: variables.$dark-violet;
        border-radius: 10px;

        ul {
            @include mixin.center;
            flex-direction: column;
            gap: 5px;
            @include mixin.style-list;

            li {

                padding: 10px 30px;
                
                a {
                    color: white;
                    font-size: 1.4rem;
                    text-decoration: none;

                    @include mixin.desktop {
                        font-size: 15px;
                        color: variables.$grayish-violet;
                        &:hover {
                            color: variables.$dark-violet;
                        }
                    }
                }

                @include mixin.desktop {
                    padding: 8px 20px;
                }
            }

            @include mixin.desktop {
                flex-direction: row;
                width: 40%;
                gap: 0;
                margin: 20px 0px 0px 0px;
            }
        }

        .links-1 {
            height: 60%;
            @include mixin.desktop {
                justify-content: flex-start;
                height: 80px;
            }
        }

        .links-2 {
            height: 40%;
            @include mixin.desktop {
                justify-content: end;
                height: 80px;
            }
        }

        @include mixin.desktop {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            position: relative;
            top: 0;
            background: transparent;
            height: 80px;
            width: 90%;
            margin: 0;
            border-radius: 0; 
        }

    }

    @include mixin.desktop {
        justify-content: space-evenly;
        max-width: 1440px;
        height: 80px;
        margin: 0 auto;
        padding: 0px 88px;
        margin-bottom: 60px
    }
}

main {

    .sec1 {
        @include mixin.wh-100;

        @include mixin.desktop {
            @include mixin.center;
            align-items: flex-start;
            flex-direction: row-reverse;
            justify-content: flex-end;
            position: relative;
            max-width: 1440px;
            height: 100vh;
            margin: 0 auto;
            padding: 180px 88px;
        }

        .img-illus {
            overflow: hidden;
            width: 100%;
            margin-bottom: 20px;
            
            @include mixin.desktop {
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                width:  40%;
                height: 70%;
                margin: 0;        
            }

            img {
                margin-left: 25px;
                height: 300px;
                width: 510px;

                @include mixin.desktop {
                    
                    margin: 0;
                    height: 455px;
                    width: 700px;
                    clip-path: inset(0 90px 0 0);
                }
            }
        }

        .text {
            text-align: center;
            margin: 0px 25px 190px;
            height: 270px;

            @include mixin.desktop {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                text-align: left;
                width: 500px;
                height: auto;
                margin: 0;
            }

            h1 {
                color: variables.$very-dark-violet;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 40px;

                @include mixin.desktop {
                    font-size: 4rem;
                    line-height: 70px;
                }
            }

            p {
                color: gray;
                font-size: variables.$font-size;
                font-weight: 500;
                margin: 20px 0px;

                @include mixin.desktop {
                    font-size: 20px;
                    margin: 10px 0px 30px 0px;
                }
            }
        }
    }


    .sec2 {
        @include mixin.wh-100;
        background: variables.$gray-light;
        padding-bottom: 90px;

        .container {
            background: variables.$dark-violet url('../assets/images/bg-shorten-mobile.svg');
            background-repeat: no-repeat;
            background-position: top left;
            background-size: 100% 90%;
            @include mixin.center;
            gap: 25px;
            flex-flow: column nowrap;
            height: 170px;
            margin: 0px 25px;
            border-radius: 15px;
            position: relative;
            bottom: 90px;
            z-index: 999;

            @include mixin.desktop {
                background: variables.$dark-violet url('../assets/images/bg-shorten-desktop.svg');
                background-size: cover;
                flex-direction: row;
                margin: 0px 80px;
            }

            .container-input {
                width: 88%;
                height: 52px;

                @include mixin.desktop {
                    width: 70%;
                }

                input[type="url"] {
                    height: 50px;
                    width: 100%;
                    border-radius: 5px;
                    padding-left: 13px;
                    border: 0;             
    
                    &::placeholder {
                        color: variables.$gray;
                    }

                    &:focus {
                        outline: none;
                    }
    
                }

                .error {
                    border: 3px solid variables.$color-red !important;

                    &::placeholder {
                        color: variables.$color-red;
                    }
                }

                
                span { 
                    display: inline;
                    color: variables.$color-red;
                    padding-left: 13px;
                    font-size: 12px;
                }

            }
            

        }

        .container-card {
            display: flex;
            flex-flow: column ;
            align-items: center;
            gap: 20px;
            width: 100%;
            height: auto;
            padding-block: 20px;
            overflow: hidden;
            overflow: scroll;
            scrollbar-width: none;

            transition: height .5s;
            interpolate-size: allow-keywords;

            @include mixin.desktop {
                position: relative;
                bottom: 50px;
            }

            hr {
                @include mixin.desktop {
                    display: none;
                }
            }

            .card-link {
                flex-shrink: 0;
                background: white;
                height: 170px;
                width: 88%;
                border-radius: 5px;

                @include mixin.desktop  {
                    @include mixin.center-2;
                    justify-content: space-between;
                    height: 80px;
                }

                span {

                    @include mixin.desktop {
                        font-size: variables.$font-size;
                    }
                }


                .link {
                    @include mixin.center-2;
                    padding-left: 20px;
                    height: 50px;

                    @include mixin.desktop {
                        width: 55%;
                        
                    }

                    span {
                        color: variables.$very-dark-violet;
                        

                    }
                }

                .link-cop {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 20px;
                    height: 120px;

                    @include mixin.desktop {
                        align-items: center;
                        justify-content: space-evenly;
                        flex-direction: row;
                        width: 45%;
                        height: 50px;
                        padding: 0;
                    }

                    span {
                        color: variables.$cyan;
                    }
                }
            }
        }

        .container-info {
            @include mixin.center-2;
            flex-direction: column;
            margin-top: 80px;
            @include mixin.wh-100;

            @include mixin.desktop {
                flex-direction: row;
                flex-wrap: wrap;
                width: 88%;
                margin-inline: auto;
                margin-bottom: 100px;
            }

            .intro {
                text-align: center;

                @include mixin.desktop {
                    @include mixin.center;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 130px;
                }

                h2 {
                    color: variables.$very-dark-violet;
                    font-size: 1.9rem;
                    margin-bottom: 20px;

                    @include mixin.desktop {
                        font-size: 2.5rem;
                    }
                }

                p {
                    font-size: variables.$font-size;
                    font-weight: 500;
                    color: variables.$grayish-violet;
                    margin-bottom: 130px;
                    @include mixin.desktop {
                        max-width: 510px;
                        margin-bottom: 0px;
                    }
                }
            }

            .container-cards-infos {
                @include mixin.center-2;
                flex-direction: column;

                @include mixin.desktop {
                    flex-direction: row;
                    width: 100%;
                    position: relative;
                }

                .cards-info {
                    position: relative;
                    z-index: 222;
                    @include mixin.center;
                    flex-direction: column;

                    height: 270px;
                    width: 90%;
                    margin: 0px auto 130px;
                    border-radius: 6px;
                    background: white;
                    text-align: center;

                    @include mixin.desktop {
                        margin: 0;
                        min-width: 279px;
                        width: 40%;
                        text-align: left;
                    }
                    
                    .cicle {
                        position: absolute;
                        top: -40px;
                        @include mixin.center;
                        background: variables.$dark-violet;
                        height: 90px;
                        width: 90px;
                        border-radius: 50%;

                        @include mixin.desktop {
                            left: 30px;
                        }
                    }

                    .cards-txt {

                        margin: 0px 24px;
                        h3 {
                            font-size: 1.5rem;
                            margin: 20px;
                            @include mixin.desktop {
                                margin: 0 0 20px 0;
                            
                            }
                        }
        
                        p {
                            color: variables.$grayish-violet;
                            font-size: 16px;
                            font-weight: 500;

                            @include mixin.desktop {
                                font-size: 15px;
                            }
                        }
                    }

                    
                }

                .card-2 {

                    @include mixin.desktop {
                        position: relative;
                        top: 30px;
                    }
                }

                .ult {
                    margin-bottom: 0px;
                    @include mixin.desktop {
                        position: relative;
                        top: 60px;
                    }
                }
            }
        }

    }

    .boost {
        background: variables.$dark-violet url("../assets/images/bg-boost-mobile.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        @include mixin.center;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        height: 280px;

        @include mixin.desktop {
            background: variables.$dark-violet url("../assets/images/bg-boost-desktop.svg");
            background-position: top left;
            background-size: 100% 100%;
        }


        h1 {
            color: white;
            font-size: 1.6rem;

            @include mixin.desktop {
                font-size: 2rem;
            }
        }

    }
    
}


footer {
    background: variables.$very-dark-violet;
    @include mixin.wh-100;
    @include mixin.center;
    flex-direction: column;

    @include mixin.desktop {
        justify-content: space-around;
        flex-direction:  row;
        height: 350px;
        padding-top: 90px;
    }
    
    .footer-logo {
        margin: 50px 0px;
    
        @include mixin.desktop {
            display: flex;
            align-items: flex-start;
            height: 230px;
            margin: 0;
        }
    }

    .nav-foo {
        @include mixin.desktop {
            @include mixin.center;
            justify-content: space-between;
            flex-direction:  row;
            width: 60%;
            height: 230px;
        }
    }
    

    .navbar-foo1, .navbar-foo2, .navbar-foo3 {
        @include mixin.center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 25px;

        @include mixin.desktop {
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            margin: 0;
        }
    }

    ul {
        @include mixin.style-list;
        text-align: center;

        @include mixin.desktop {
            text-align: left;
        }

        li {
            margin-bottom: 10px;

            a {
                color: variables.$gray;
                text-decoration: none;
                &:hover {
                    color: variables.$cyan;
                }
            }
        }
    }

    span {
        color: white;
        font-size: variables.$font-size;

    }

    .social-midia {
        @include mixin.center;
        gap: 20px;
        margin: 50px 0;

        @include mixin.desktop {
            align-items: flex-start;
            width: 30%;
            height: 100%;
        }

        i {
            color: white;
            font-size: 2rem;
        }
    }

}